<table class="pure-table">
  <thead>
    <tr>
      <th>Proposal ID</th>
      <th>Team</th>
      <th>Amount</th>
      <th>Accept Bet</th>
    </tr>
  </thead>
  <tbody>
    {{#each proposals as |proposal|}}
      <tr>
        <td>{{proposal.id}}</td>
        <td>{{proposal.winning_message}}</td>
        <td>{{proposal.amount}}</td>
        <td> {{#link-to "accept-proposal" proposal.id }}<button>accept</button>{{/link-to}} </td>
      </tr>
    {{/each}}
  </tbody>
</table>

