<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img
      src="https://previews.dropbox.com/p/thumb/AAiZx-h71nwAswwjNccZG8_UEidt72-dlfOnUmBClQV8wi6J5Vw-H-y0q3_hIbdbB6VXJ2ZPGA66EBLwNVMotGFy_JPM7npCD2oKvKpV3vuDx96VbsjePc0CYcjz0mHsoZGckB9CTECrB65qd_gJwMkAoWYjgQJCD6-QUNXflC1d6eSYyRJ-UMW8vVFQEVkAx6z8uPuoe8RQL-Tj9EIRb8iLW3xU0hYoocnU1uswOUDwknGMO34Kr2uKByhw4Ag-03ultOx4VvjxiwSgYsFD_yhVKujjcJ2b_i28ll_L6YfNjQKDm-OwgY67klItwKdjBfnL-S2CSegCOqelSbZx013C1wkKTufhyYEDgLqNnanaEw/p.png?fv_content=true&size_mode=5"
      width="50" height="50" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Today's Games<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bet Proposals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Accepted Bets</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Leagues
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

{{yield}}