<div>
    <h2>Todays Games</h2>
    {{daily-games-table games=games}}
</div>

<div>
    <h2>Bet Proposals</h2>
    {{bet-proposals proposals=proposals}}
</div>

<div>
   <h2>Accepted Bets</h2>

</div>

{{outlet}}
