<div class="row login-form">

  {{outlet}}
  {{!-- app/templates/login.hbs --}}
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Login</h2>

    <form {{action "authenticate" on="submit"}}>

      <div class="form-group">
        {{input placeholder="Sudo Key" value=identification}}
      </div>

      <div class="form-group">
        <button type="submit">Login</button>
        {{#if errorMessage}}
          <p>{{errorMessage}}</p>
        {{/if}}
      </div>
    </form>
  </div>
  <div class="col-md-4"></div>

</div>
