.container {
  width: 100%;
}

.col-sm {
  margin: 60px;
}

.table {
  margin: 40px;
}

.btn {
  width: 100px;
}

h2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px;
}

row {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding: 30px;
}

.card {
  margin: 10px;
}

.navbar {
  background-color: #fbb116;
}

.navbar-brand {
  padding-left: 20px;
}
.btn-warning {
  color: #fff;
  font-weight: bold;
  background-color: #ffc107;
  border-color: #ffc107;
}
